/*Google fonts*/  /*Atalho para comentar shift+alt+A= comentario */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*Variaveis de cores*/
/* tema dark*/
:root, :root[data-theme='dark']{
    --primary-color: #f0f0f0;
    --primary-bg-color: #111217;

    --secondary-bg-color:#28292E;
    --primary-boder-color:#28292E;
    --secundary-boder-color:#56575A;
    --title-color:#F0F0F0;
    --link-hover:#F0F0F0;
    --link-color:#8f8f8f;
    --icon-color:#C7C8C9;
}
/* tema light*/
:root[data-theme='light']{
    --primary-color:#0b0b0F; /*cor principal dos textos */
    
    
    --primary-bg-color:#f0f2f5;
    --secondary-bg-color:#c7c8c9;

    --primary-boder-color:#c7c8c9;
    --secundary-boder-color:#9a9a9c;

    --title-color:#0b0b0F;
    --link-hover:#a3a2a2;
    --link-color:#0b0b0f;
    --icon-color:#56575a;
}

/*Reset CSS*/
* {
    margin: 0;/*margem*/
    padding:0;/*preenchimeno*/
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body{
    background:var(--primary-bg-color);/*cor do fundo*/
    color: var(--title-color); /*cor geral dos textos*/
    font-family: 'Noto+Sans', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color:var(--link-hover);
}

i{
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap; /*coloca o conteúdo em linha e permite a quebra de linha*/
    justify-content: space-between;/* os itens dentor do container flexível serão distribuídos de maneira uniforme ao longo do eixo principal,com espaços iguais entre eles.*/
    align-items: center;
    width:100%;
    padding: 0.5rem 1rem;
    z-index: 2;/*sobreposição*/
}

.header-logo .logo  {
    width: 3.25rem;
    height: 3.25rem;
}

.header-logo .logo2{
    width: 8.25rem;
    height: 2rem;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

html[data-theme='light'] .logo{
    filter: invert(1);
}

html[data-theme='light'] .logo2{
    filter: invert(1);
}

#toggleTheme {
    font-size: 1.5rem; /* tamanho da fonte*/
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;/* torna o elemento um flex container automaticamente transformando todos os filhos diretos em flex itens*/
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-mobile { /* UL */
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between; /*justificar o texto*/
    border-top: 1px solid var(--primary-boder-color);
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--link-hover);
}

.menu-icon, .menu-text {
    color:var(--link-color);
    font-weight: 600;
}

.menu.icon{
    font-size: 1.5rem;
}

.menu-text {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header-nav {
    display: none;
} 

.menu-principal {
    gap: 1rem;
}

.menu-social{
    gap: 1rem;
}
 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    width: 100%;
    background: transparent;
    border-radius: 3rem;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out .3s;
}

.btn-primary {
    border: 1px solid var(--secundary-boder-color);
}

.btn:hover {
    transform: scale(1.07);
    transition: ease-in-out .3s;
}

.btn span,
.btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn-primary span {
    color: var(--primary-color);
}

#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

#home, .projetos, .sobre, .contato /* 3 n existem*/ {
    padding: 5rem 5rem;
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.card-cover {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
}

.card-title {
    font-size: 2rem;
    color: var(--title-color) ;
    font-weight: 400;
    font-family: 'googleapis';
}

.card-description {
    color: var(--primary-color);
    /* font-size: ; */
    text-align: justify;
}

.card-lista {
    margin-left: 2rem;
}

.card-item {
    list-style: circle;
    margin: 0.25rem;
}

.card-button, .card-description {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-button .btn {
    padding: .65rem 1.25rem;
}

.card-button span {
    font-size: 1rem;
}



/*--------------------------------------*/

/* CSS Responsivo*/
@media (min-width: 768px) {
    .header     {
        position: fixed;
        border-bottom: 1px solid var(--primary-boder-color);
        padding: 1rem 6rem;
    }
    .nav-mobile {
        display:none;
    }
    .header-nav {
        display: flex;
    }
}